<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Acount Page</title>

    <link rel="stylesheet" type="text/css" href="../css/account_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- navigation menu -->
    <div th:replace="fragments/navigation_menu :: navigation"></div>

    <h2>In Progress...</h2>
    <h3>Here will be your account profile, but options work</h3>


    <div class="buttons">
        <h2 class="buttons_header">Options:</h2>
        <a th:href="@{/showChangePasswordPage}">Change Password</a>
        <a th:href="@{/cart/getUserOrders}">View Your Orders</a>
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/additem}">Add Item</a>
            <a th:href="@{/admin/showOrders}">Show Orders</a>
            <a th:href="@{/admin/showUsers}">Show Users</a>
            <a th:href="@{/admin/showItems}">Show Items</a>
        </div>
    </div>
</body>
</html>