<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart view</title>
    <link rel="stylesheet" type="text/css" href="/css/cartview_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- navigation menu -->
    <div th:replace="fragments/navigation_menu :: navigation"></div>

    
    <!-- main content -->
    <p class="description">Review your bag</p>

    <div th:if="${@cart.counter}" class="cart_items">
        <div class="item" th:each="cartItem : ${@cart.cartItems}">
            <div class="img_container">
                <img th:src="@{${cartItem.item.image}}">
            </div>
            <a href="#"><p class="item_name" th:text="${cartItem.item.fullName}"></p></a>
            <div class="counter">
                <a th:href="@{'/cart/decrease/' + ${cartItem.item.id}}"><button class="btn">-</button></a>
                <p th:text="${cartItem.counter}"></p>
                <a th:href="@{'/cart/increase/' + ${cartItem.item.id}}"><button class="btn">+</button></a>
            </div>
            <div class="price_remove">
                <p><span th:text="${cartItem.price}"></span>zł</p>
                <a th:href="@{'/cart/removeItem/' + ${cartItem.item.id}}"><button class="remove">Remove</button></a>
            </div>
        </div>
        <div class="summary">
            <div class="total_price">
            <p>Total:</p>
            <p><span th:text="${@cart.sum}"></span>zł</p>
            </div>
            <a th:href="@{'/cart/Checkout'}"><button class="checkout">Checkout</button></a>
        </div>
    </div>
    <div th:unless="${@cart.counter}" class="empty">
        <p>Your bag is empty</p>
        <a th:href="@{'/'}">Go Shopping</a>
    </div>

    <script>
        // Save scroll position before reloading
        window.onbeforeunload = function() {
            localStorage.setItem('scrollPosition', window.scrollY);
        };

        // Restore scroll position after reloading
        window.onload = function() {
            var scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition !== null) {
                window.scrollTo(0, scrollPosition);
                localStorage.removeItem('scrollPosition'); // Optional: remove the stored scroll position
            }
        };
    </script>
    <script>
        let apple = document.getElementById('nav_apple');
        let apple_button = document.querySelector('.nav_apple_button');
        let samsung = document.getElementById('nav_samsung');
        let samsung_button = document.querySelector('.nav_samsung_button');
        let phones = document.getElementById('nav_phone');
        let phone_button = document.querySelector('.nav_phone_button');
        let laptops = document.getElementById('nav_laptop');
        let laptops_button = document.querySelector('.nav_laptop_button');
        let tablets = document.getElementById('nav_tablet');
        let tablets_button = document.querySelector('.nav_tablet_button');
        let headphones = document.getElementById('nav_headphones');
        let headphones_button = document.querySelector('.nav_headphones_button');
        let watches = document.getElementById('nav_watch');
        let watches_button = document.querySelector('.nav_watch_button');
        let accessiories = document.getElementById('nav_accessories');
        let accessiories_button = document.querySelector('.nav_accessories_button');

        apple.addEventListener('mouseover', () => {
            apple_button.style.background = "white";
            apple_button.style.color = "rgb(70, 70, 70)";
        });

        apple.addEventListener('mouseout', () => {
            apple_button.style.background = "none";
            apple_button.style.color = "rgb(125, 125, 125)";
        });

        samsung.addEventListener('mouseover', () => {
            samsung_button.style.background = "white";
            samsung_button.style.color = "rgb(70, 70, 70)";
        });

        samsung.addEventListener('mouseout', () => {
            samsung_button.style.background = "none";
            samsung_button.style.color = "rgb(125, 125, 125)";
        });

        phones.addEventListener('mouseover', () => {
            phone_button.style.background = "white";
            phone_button.style.color = "rgb(70, 70, 70)";
        });

        phones.addEventListener('mouseout', () => {
            phone_button.style.background = "none";
            phone_button.style.color = "rgb(125, 125, 125)";
        });

        laptops.addEventListener('mouseover', () => {
            laptops_button.style.background = "white";
            laptops_button.style.color = "rgb(70, 70, 70)";
        });

        laptops.addEventListener('mouseout', () => {
            laptops_button.style.background = "none";
            laptops_button.style.color = "rgb(125, 125, 125)";
        });

        tablets.addEventListener('mouseover', () => {
            tablets_button.style.background = "white";
            tablets_button.style.color = "rgb(70, 70, 70)";
        });

        tablets.addEventListener('mouseout', () => {
            tablets_button.style.background = "none";
            tablets_button.style.color = "rgb(125, 125, 125)";
        });

        headphones.addEventListener('mouseover', () => {
            headphones_button.style.background = "white";
            headphones_button.style.color = "rgb(70, 70, 70)";
        });

        headphones.addEventListener('mouseout', () => {
            headphones_button.style.background = "none";
            headphones_button.style.color = "rgb(125, 125, 125)";
        });

        watches.addEventListener('mouseover', () => {
            watches_button.style.background = "white";
            watches_button.style.color = "rgb(70, 70, 70)";
        });

        watches.addEventListener('mouseout', () => {
            watches_button.style.background = "none";
            watches_button.style.color = "rgb(125, 125, 125)";
        });

        accessiories.addEventListener('mouseover', () => {
            accessiories_button.style.background = "white";
            accessiories_button.style.color = "rgb(70, 70, 70)";
        });

        accessiories.addEventListener('mouseout', () => {
            accessiories_button.style.background = "none";
            accessiories_button.style.color = "rgb(125, 125, 125)";
        });
    </script>

</body>
</html>