<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password form</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Change Password</h2>
    </div>
    <p th:if="${succChange}" class="text-green-600 text-center font-medium">Password Changed</p>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" th:action="@{/saveChangedPassword}" method="POST">
            <div>
                <label for="oldPassword" class="block text-sm font-medium leading-6 text-gray-900">Old Password</label>
                <div class="mt-2">
                    <input id="oldPassword" name="oldPassword" type="password" required class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-stone-800 sm:text-sm sm:leading-6">
                </div>
            </div>

            <p th:if="${errorOld}" class="text-red-600 font-medium text-sm">Wrong old password</p>

            <div>
                <label for="newPassword" class="block text-sm font-medium leading-6 text-gray-900">New Password</label>
                <div class="mt-2">
                    <input id="newPassword" name="newPassword" type="password" required minlength="8" class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-stone-800 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <label for="repNewPassword" class="block text-sm font-medium leading-6 text-gray-900">Repeat New Password</label>
                <div class="mt-2">
                    <input id="repNewPassword" name="repNewPassword" type="password" required minlength="8" class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-stone-800 sm:text-sm sm:leading-6">
                </div>
            </div>

            <p th:if="${errorNew}" class="text-red-600 font-medium text-sm">New passwords not equal</p>

            <div>
                <input type="submit" class="flex w-full justify-center rounded-md bg-stone-900 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-stone-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rgb(29, 29, 31) cursor-pointer" value="Change"></input>
            </div>
        </form>
    </div>
    <a th:href="@{/}" class="text-center no-underline mt-5 font-semibold cursor-pointer">Return Home</a>
</div>
</body>
</html>