<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset password form</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="justify-center text-center">
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reset Your Password</h2>
    </div>

    <div th:if="${error}">
        <h5 class="text-center font-semibold mt-2 text-red-600">Passwords are not the same</h5>
    </div>

    <div th:if="${success}">
        <h5 class="text-center font-semibold mt-2 text-green-600">Password have been successfuly channged</h5>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" th:action="@{/saveResetPassword}" method="POST">
            <input type="hidden" name="code" th:value="${code}">
            <div>
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900 text-left">Password</label>
                <div class="mt-2">
                    <input id="password" name="password" type="password" required minlength="8" class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-stone-800 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <label for="passwordRepeat" class="block text-sm font-medium leading-6 text-gray-900 text-left">Repeat Password</label>
                <div class="mt-2">
                    <input id="passwordRepeat" name="passwordRepeat" type="password" required minlength="8" class="block w-full rounded-md border-0 py-1.5 pl-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring focus:ring focus:ring-stone-800 sm:text-sm sm:leading-6 ">
                </div>
            </div>

            <div>
                <input type="submit" class="flex w-full justify-center rounded-md bg-stone-900 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-stone-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rgb(29, 29, 31) cursor-pointer" value="Reset Password"></input>
            </div>
        </form>
    </div>
</div>
<a th:if="${success}" th:href="@{/}" class="text-center justify-center cursor-pointer">Return Home</a>
</body>
</html>